#hello {
  width: 20vw;
  height: 20vh;
  margin: 0 auto;
  padding: 20px;
  background-color: red;
  text-align: center;
}

/* #hello1 {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 20vw;
  height: 20vh;
  background-color: black;
} */


:root {
  --var-six: red;
}